/* 样式 */
*{margin: 0;padding: 0;}
[v-cloak] {
  display: none;
}

.tabs {
  font-size: 14px;
  color: #657180;
}

.tabs-bar:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #d7dde4;
  margin-top: -1px;
}

.tabs-tab {
  display: inline-block;
  padding: 4px 16px;
  margin-right: 6px;
  background: #fff;
  border: 1px solid #d7dded;
  cursor: pointer;
  position: relative;
}
.tabs-tab-active {
  color: #3399ff;
  border-top: 1px solid #3399ff;
  border-bottom: 1px solid #fff;
}

.tabs-tab-active:before {
  content: '';
  display: block;
  height: 1px;
  background: #3399ff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.close {
  position: relative;
}
.close_tab {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 10px;
  height: 10px;

}
.tabs-content {
  padding: 8px 0;
}
.content_animated {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  will-change: transform;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}
.pane {
  flex-shrink: 0;
  width: 100%;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 1;
}